{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<style>
    body {
        margin: 0;
        padding: 0;
    }

    .fixed-bar {
        background-color: #f8f9fa;
        padding: 10px;
        position: fixed;
        bottom: 0; /* Changed top to bottom */
        right: 0;
        width: 100%;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Changed shadow to be at the top */
        z-index: 1000;
    }

    .container {
        margin-top: -30px;
        padding-bottom: 90px; /* Adjusted padding for the content */
    }

    .cart-icon {
        font-size: 24px;
        margin-left: 5px;
    }

    .cart-item {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
        transition: transform 0.3s;
        min-height: 300px; 
        position: relative; 
    }

    .cart-item:hover {
        transform: scale(1.02);
    }

    .cart-item p {
        margin-bottom: 10px;
    }

    .empty {
        font-size: 1.5em;
        font-weight: bold;
    }

    a {
        margin-bottom: 10px;
    }

    .btn-primary {
        margin-top: 10px;
    }

    .btn-danger:hover {
        background-color: #d32f2f;
        border-color: #d32f2f;
    }

    .product-image {
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        position: absolute;
        top: 0;
        left: 0;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
        margin-right: 10px;
    }

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

    .btn-continue-shopping {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .btn-continue-shopping:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

    .quantity{
        margin-top: 0px;
        margin-right: 15px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                Cart
                <span class="cart-icon">&#128722;</span>
            </h1>
        </div>
    </div>
    {% if cart_items %}
        <div class="row">
            {% for item in cart_items %}
                <div class="col-md-12 mb-4">
                    <div class="card h-100" id="card-{{item.item.pk}}" data-rating={{ item..item.product.avg_rating }}>
                        <div class="row no-gutters">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.item.name }}</h5>
                                    <p class="card-text">
                                        {% if item.content_type.model == "box" %}
                                            Price: €{{ item.item.price }}
                                        {% elif item.item.unit == "piece" %}
                                            Price: €{{ item.item.price }}/Piece
                                        {% elif item.item.unit == "kg" %}
                                            Price: €{{ item.item.price }}/Kg
                                        {% endif %}
                                    </p>
                                    {% if item.quantity == 0 %}
                        <button class="btn btn-success add_to_cart update" data-product-id="{{ item.item.pk }}" data-add-url="{% url "cart:add_to_cart" pk=item.item.pk type=item.content_type.model %}">
                            Add to Cart
                        </button>
                        <div class="quantity-input" aria-disabled="true" style="display: none;">
                            <button class="btn btn-success remove_from_cart decrement" data-product-id="{{ item.item.pk }}" data-add-url="{% url "cart:remove_from_cart" pk=item.item.pk type=item.content_type.model %}" data-unit="{{ item.item.unit }}" data-price={{ item.item.price }}>
                                -
                            </button>
                            <input class="quantity form-control" type="text" value={{item.quantity}} min="1" readonly>
                            <button class="btn btn-success increment add_to_cart" data-product-id="{{ item.item.pk }}" data-add-url="{% url "cart:add_to_cart" pk=item.item.pk type=item.content_type.model %}">
                                +
                            </button>
                        </div>  
                        {% else %}
                        <button class="btn btn-success add_to_cart update" style="display:none;" data-product-id="{{ item.content_object.pk }}" data-add-url="{% url "cart:add_to_cart" pk=item.item.pk type=item.content_type.model %}">
                            Add to Cart
                        </button>
                        <div class="quantity-input" aria-disabled="true">
                            <button class="btn btn-success remove_from_cart decrement" data-product-id="{{ item.item.pk }}" data-add-url="{% url "cart:remove_from_cart" pk=item.item.pk type=item.content_type.model%}" data-unit="{{ product.unit }}" data-price={{ product.price }}>
                                -
                            </button>
                            <input class="quantity form-control" type="text" value={{item.quantity}} min="1" readonly>
                            <button class="btn btn-success increment add_to_cart" data-product-id="{{ item.item.pk }}" data-add-url="{% url "cart:add_to_cart" pk=item.item.pk type=item.content_type.model %}">
                                +
                            </button>
                        </div>   
                        {% endif %}  
                            <p class="card-text" id="total-{{item.item.pk}}">Total: €{{ item.total }}</p>
                            <p class="card-text">
                            {% if item.product.available %}
                                <span class="text-success">Available: <i class="fa-solid fa-circle-check"></i></span>
                            {% else %}
                                <span class="text-danger">Not Available: <i class="fa-solid fa-circle-xmark"></i></span>
                            {% endif %}
                            </p>
                            {% if item.content_type.model == "product" %}
                            <p class="card-text">Seller: <a href="{% url "accounts:user_detail" pk=item.item.seller.pk %}">{{ item.item.seller.username }}</a></p>
                            <a href="{% url "products:product_detail" pk=item.item.pk %}" class="btn btn-primary">View Details</a>
                            {% else %}
                            <a href="{% url "products:box_detail" pk=item.item.pk %}" class="btn btn-primary">View Details</a>
                            {% endif %}
                        </div>
                    </div>
                            <div class="col-md-4 ml-auto">
                                <img src="{{ item.item.image.url }}" class="card-img product-image" alt="{{ item.item.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="empty">No products available yet...</p>
        {% endif %}
    </div>

    <div class="fixed-bar">
        <h5 id="total">Total: €{{ cart.total }}</h5>
        <a class="btn btn-success" href="{% url "orders:payment" %}">Complete Order</a>
        <a href="{% url "products:product_list" %}" class="btn btn-continue-shopping">Continue Shopping</a>
    </div>

    <script>
    $(document).ready(function(){
        updateCartBadge();
    
        $('.decrement').on('click', function () {
            console.log("yoy")
            var quantityInput = $(this).siblings('.quantity');
            var quantity = parseInt(quantityInput.val(), 10);
            if (quantity == 1) {
                $(this).closest(".card").remove();
            }
        });
    })
    </script>

    {% endblock %}
