{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<style>
    .containerEmailSent {
        margin-top: 3%;
        text-align: left;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 4%;
    }

    h1 {
        color: #007bff;
    }

    p {
        margin-top: 10px;
        margin-bottom: 20px;
    }
</style>

<div class="container containerEmailSent">
    <h1>Email Sent!</h1>
    <p>Check your email to find the instructions for setting your password.</p>
</div>

{% endblock %}
