{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<style>
    .containerChangePassword {
        margin-top: 3%;
        text-align: left;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 4%;
    }

    h1 {
        color: #007bff;
    }

    button {
        margin-top: 10px;
        background-color: #007bff;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<div class="container containerChangePassword">
    {% if validlink %}
        <h1>Change your password</h1>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form%}
            <div><button type="submit">Change my password</button></div>
        </form>
    {% else %}
        <h1>The link is invalid!</h1>
    {% endif %}
</div>

{% endblock %}
