{% extends 'base.html' %}

{% block content %}

<style>
  /* Styles for the payment form container */
  .payment-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .messages {
    list-style: none;
    padding: 0;
  }

  .messages li {
    margin: 5px 0;
  }

  .containerPayement {
    margin-top: 2%;
    margin-bottom: 2%;
  }
</style>

<div class="container containerPayement">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="payment-form">
        <h1 class="text-center mb-4">Payment Page</h1>
        
        {% if messages %}
          <!-- Display messages in an unordered list -->
          <ul class="messages">
            {% for message in messages %}
              <!-- Apply message tags as CSS classes if available -->
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <form method="post" action="{% url 'orders:payment' %}" class="mt-4">
          {% csrf_token %}

          <div class="form-group">
            <label for="cardNumber">Credit Card Number:</label>
            <input type="text" class="form-control" id="cardNumber" name="cardNumber" required>
          </div>

          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="expirationDate">Expiration Date:</label>
              <input type="text" class="form-control" id="expirationDate" name="expirationDate" placeholder="MM/YY" required>
            </div>

            <div class="col-md-6 form-group">
              <label for="cvv">CVV:</label>
              <input type="text" class="form-control" id="cvv" name="cvv" required>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-3">Submit Payment</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
