{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<style>
    .farmer_list {
        position: relative;
        margin-left: 300px;
    }

    .user-info:hover {
        background-color: #0a5200; 
        color: #fff; 
    }

    .user-info {
        border: 1px solid #0a5200;
        padding: 10px;
        border-radius: 5px;
        margin-top: 30px;
    }

    h1 {
        margin-top: -50px;
    }

    #map-container {
        position: fixed; 
        top: 150px; 
        right: 20px; 
        z-index: 1; 
    }


    #map {
        height: 600px; 
        width: 100%;
        max-width: 650px; 
        margin-top: 112px;
        margin-bottom: 50px;
        border: #ddd;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: #3498db; 
    }

    a:hover {
        text-decoration: underline;
        color: aquamarine;
    }

    .fav-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .fa-regular.fa-star {
        color: #ddd;
    }

    .fav-button.selected .fa-regular.fa-star {
        color: #ffd43b;
    }

    @media (max-width: 767px) {
        #map-container {
            position: static;
        }

        .farmer_list {
            margin-left: 0;
        }

        #map {
            width: 100%; 
            max-width: none; 
        }
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        #map-container {
            position: fixed;
            top: 150px;
            right: 20px;
        }

        .farmer_list {
            margin-left: 0;
        }

        #map {
            width: 100%; 
            max-width: 650px;
        }
    }

    @media (min-width: 1200px) {
    #map-container {
        position: fixed;
        top: 150px;
        right: 20px;
    }

    .farmer_list {
            margin-left:33px;
        }

    

    #map {
        width: 100%; 
                     
        max-width:none;
        max-height: none;
    }
}
</style>

<div class="container farmer_list">
    <h1>Farmers</h1>
    <div class="filter-options">
        <form method="get">
            <label><input type="checkbox" name="best_farmers"> Best Rated</label>
            <label><input type="checkbox" name="closest_farmers"> Closest</label>
            <label><input type="checkbox" name="fav_farmers"id="fav" data-id={{ user.pk }} data-url={% url "accounts:user_list" %}> Favorites </label>
            <button type="submit">Apply Filters</button>
        </form>
    </div>
    <div class="row">
        <div class="col-md-6 order-md-1 order-2">
            {% if farmers %}
            <ul>
                {% for farmer in farmers %}
                <li>
                    <div class="user-info" data-user-id={{ user.pk }}>
                        <p>Name: {{ farmer.username }}</p>
                        <p>Farm: {{ farmer.farm_nr }}</p>
                        <p>Address: {{ farmer.address }} </p>
                        <a href="{% url "accounts:user_detail" pk=farmer.pk %}">View Details</a>
                        {% if farmer != user and user.is_authenticated %}
                        <button class="fav-button" data-farmer-id={{ farmer.pk }} data-auth={{ user.is_authenticated }}>
                            <i class="fa-regular fa-star" style="color: #ffd43b;"></i>
                        </button>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
                <p>No products available yet...</p>
            {% endif %}
        </div>
        <div class="col-md-6 order-md-2 order-1" id="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>

<script src="{% static "farmfresh/js/fav_farmer.js" %}"></script>
<script src="{% static "farmfresh/js/map.js" %}"></script>

<script>
    function getToken(){
        var val = "; " + document.cookie;
        var parts = val.split("; csrftoken=");
        if (parts.length === 2){
            return parts.pop().split(";").shift()
        }
    }
    function updateMapPosition() {
        var containerRect = container.getBoundingClientRect();
        var containerHeight = containerRect.height;
        var mapHeight = mapContainer.clientHeight;
        var aboutRect = aboutSection.getBoundingClientRect();
        var aboutTop = aboutRect.top;

        var scrollTop = window.scrollY;

        var topPosition = Math.min(scrollTop + 150, aboutTop - mapHeight + 25);
        mapContainer.style.top = topPosition + "px";
    }

    function setFavFarmers(userId){
        //https"://stackoverflow.com/questions/52327176/how-do-i-access-data-from-local-storage-in-django-views
        favId = "favorites_" + userId;
        fav_farmers = localStorage.getItem(favId);
        document.cookie = "fav=" + fav_farmers;
    }

    document.addEventListener("DOMContentLoaded", function () {
        var mapContainer = document.getElementById("map-container");
        var container = document.querySelector(".farmer_list");
        var aboutSection = document.querySelector(".about");
        var favButton = document.getElementById("fav");

        favButton.addEventListener("click", function(){
            var userId = this.dataset.id;
            setFavFarmers(userId)
        });

        updateMapPosition();

        setTimeout(updateMapPosition, 500);

        window.addEventListener("scroll", updateMapPosition);
        window.addEventListener("resize", updateMapPosition);
    });
</script>

{% endblock %}
