{% extends "base.html" %}
{% load bootstrap4 %}
{% load socialaccount %}
{% load account %}
{% block content %}

<style>
    .containerLogin {
        margin-top: 50px;
        text-align: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        margin-bottom:22%;
    }

    h1 {
        color: #007bff; 
    }

    form {
        margin-top: 20px;
        text-align: left; 
    }

    .form-group {
        margin-bottom: 15px; 
    }

    button {
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: #007bff; 
    }

    a:hover {
        text-decoration: underline;
    }

    .btn-outline-info {
        border-color: #17a2b8;
        color: #17a2b8; 
    }

    .btn-outline-info:hover {
        background-color: #17a2b8; 
        color: #ffffff;
    }

    .social-login {
        margin-top: 20px;
    }

    .text-center {
        padding-bottom: 15px;
    }
</style>

<div class="container containerLogin">
    <h1>Log In</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% bootstrap_field form.username label="Username" %} 
        </div>
        <div class="form-group">
            {% bootstrap_field form.password label="Password" %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
        <div><p>Forgot your password? <a href="{% url 'accounts:password_reset' %}">Click Here</a></p></div>

        <div class="text-center"> 
            <p>New to FarmFresh? <a href="{% url 'accounts:signup' %}">Create a new account</a></p>
        </div>
    </form>
    <div class="social-login">
        <button class="btn btn-outline-info">
            <a href="{% provider_login_url 'google' %}">
                <i class="fa-brands fa-google"></i>
                Login with Google
            </a>
        </button>
    </div>
</div>

{% endblock %}
