{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load socialaccount %}
{% block content %}

<div class="container">
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == "farm_nr" %}
        <div id="farm_nr" style="display: none"> {% bootstrap_field field %} </div>
        {% elif field.name == "username" %}
        <input type="text" required name="username" id="username" autofocus="">
        <span id="username_check"></span>
        {% else %}
        {% bootstrap_field field %}
        {% endif %}
        {% endfor %}
        <div><button type="submit">Sign Up</button></div>
   </form>
   <button class="btn btn-outline-info">
    <a href="{% provider_login_url 'google'%}">
        <i class="fa-brands fa-google"></i>
        Sign up with Google
    </a>
    </button>
</div>
<script src="{% static "accounts/js/signup.js" %}"></script>
{% endblock %}