{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<style>
    .container {
        padding: 20px;
    }

    .user-info {
        margin-top: 0px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
    }
  
    .user-info h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: #333;
        font-weight: bold; /* Make username bold */
    }

    .user-info p {
        font-size: 16px;
        margin-bottom: 10px;
        color: #555;
    }

    .user-info h6.homeAddress {
        color: #888; /* Change email color to gray */
    }

    .user-info img {
        max-width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .btn-container {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        
    }

    .btn-container a.btn {
        margin-right: 10px;
        
    }

    .fav-button:hover {
        background-color: #f0bf0d; 
    }

    .reviews-container {
        margin-top: 20px;
    }

    .review-item {
        margin-bottom: 15px;
    }

    .image-and-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-and-button img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .image-and-button .btn {
        width: 100%;        
        margin-bottom: 10px;
    }

    .section-style{
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    form {
        width: 100%;
    }

    .comment{
        font-size: 17px;
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-info" data-user-id="{{ user.pk }}">
                <div class="btn-container">
                    {% if request.user == object %}
                    <a href="{% url "accounts:update_user" pk=object.pk %}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <a href="{% url "accounts:delete_user" pk=object.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4 image-and-button">
                        {% if user_detail.profile_pic %}
                            <img src="{{ user_detail.profile_pic.url }}" class="img-fluid" alt="{{ user_detail.username }} Profile Picture">
                        {% endif %}
                        {% if user_detail.is_farmer %}
                            <form method="get" action="{% url "products:farmer_products" pk=user_detail.pk %}">
                                <button type="submit" class="btn btn-success">
                                    My products
                                </button>
                            </form>
                            {% if request.user != user_detail %}
                            <button class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">Post a Review</button>
                            {% endif %}

                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <h2 class="username">   {{ user_detail.username }}
                            <span class="badge">
                                {% if user_detail.is_farmer %}
                                    <i class="fa-solid fa-wheat-awn" style="color: #0a5200;"></i>
                                {% endif %}
                            </span>
                        </h2>
                        <h6 class="homeAddress">Address: {{ user_detail.address }}, {{ user_detail.city }}, {{ user_detail.country.name }}</h6>
                        <p class="small-text">First Name: {{ user_detail.first_name }}</p>
                        <p class="small-text">Last Name: {{ user_detail.last_name }}</p>
                        <p class="email">Email: {{ user_detail.email }}</p>
                        {% if user_detail.is_farmer %}
                            <div class="rate" data-rating="{{ user_detail.avg_rating }}">
                                 <p class="card-text"><div class="stars"></div></p>
                                <p class="card-text">
                                </div>
                        {% endif %}  
                        
                        
                        <br>
                        <p>{{ user_detail.bio }}</p>

                        {% if user_detail != user and user.is_authenticated %}
                        <button class="btn btn-warning fav-button mt-3" data-farmer-id={{ farmer.pk }} data-auth={{ user.is_authenticated }}>
                            <i class="fa-regular fa-star" style="color: #ffd43b;"></i>
                            <span class="button-text">
                                {% if farmer.pk in favorites %}
                                    Delete farmer from favorite
                                {% else %}
                                    Add farmer to favorite
                                {% endif %}
                            </span>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="reviews-container">
                {% if reviews %}
                    <h2 class="mb-4">Reviews</h2>
                    <ul class="list-group">
                        {% for review in reviews %}
                        <li class="section-style card mb-3" data-rating={{ review.rating }}>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{ review.user.profile_pic.url }}" class="img-fluid rounded" alt="{{ review.user.username }}" style="max-width: 100%;">
                                </div>
                                <div class="col-md-9">
                                    <div>
                                            <h4>
                                                {{ review.user.username }}
                                                <span class="badge">
                                                    {% if review.user.is_farmer %}
                                                        <i class="fa-solid fa-wheat-awn" style="color: #0a5200;"></i>
                                                    {% endif %}
                                                </span>
                                            </h4>
                                        <p class="text-muted">{{ review.date }}</p>
                                        <div class="rate" data-rating="{{ review.rating }}">
                                            <p class="card-text"><div class="stars"></div></p>
                                           <p class="card-text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="comment">{{ review.review }}</p>
                                </div>
                                <div class="col-md-6">
                                    {% if user == user_detail %}
                                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#replyModal{{ review.id }}">
                                        Add Reply
                                    </button>
                                    {% endif %}
                                    {% if review.replies.exists %}
                                        <button type="button" class="btn btn-link" onclick="toggleReplies({{ review.id }})">
                                            See Replies
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                            <ul id="replies{{ review.id }}" class="list-unstyled" style="display: none; padding-left: 20px; border-left: 2px solid #ddd; margin-top: 10px;">
                                {% for reply in review.replies.all %}
                                <li>
                                    <div style="margin-bottom: 5px;">
                                    <p><strong>Replied by:</strong> 
                                        {{ reply.farmer.username }}
                                        <span class="badge">
                                            {% if user_detail.is_farmer %}
                                                <i class="fa-solid fa-wheat-awn" style="color: #0a5200;"></i>
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>
                                <div style="margin-bottom: 5px;">
                                    <p class="text-muted">{{ reply.date }}</p>
                                </div>
                                <div>
                                    <p><strong>Reply:</strong> {{ reply.reply }}</p>
                                </div>
                                </li>
                                {% endfor %}
                            </ul>

                        {% endfor %}
                        <nav aria-label="Review navigation">
                            <ul class="pagination justify-content-center">
                              {% if reviews.has_previous %}
                              <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">&laquo;&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{reviews.previous_page_number}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                              {% endif %}
                    
                            <li class="page-item">
                                <span class="page-link">
                                    {{ reviews.number }} of {{ reviews.paginator.num_pages }}
                                </span>
                            </li>
                    
                            {% if reviews.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{reviews.next_page_number}}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{reviews.paginator.num_pages}}" aria-label="Last">
                                    <span aria-hidden="true">&raquo;&raquo;</span>
                                </a>
                            </li>
                              {% endif %}
                    
                    
                            </ul>
                          </nav>
                    </ul>
                {% else %}
                    <p class="lead mt-3">No reviews available yet...</p>
                {% endif %}
            </div>
        </div>
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Post a Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Add a form for submitting the review -->
                        <form method="post" action="{% url 'reviews:add_farmer_review' pk=object.pk %}">
                            {% csrf_token %}
                            <label for="rating">Rating:</label>
                            <select id="rating" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br>
                            <label for="review">Review:</label>
                            <textarea id="review" name="review" rows="4" cols="50"></textarea>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for review in reviews %}
        <!-- Add a modal for each review -->
        <div class="modal fade" id="replyModal{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel{{ review.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel{{ review.id }}">Add Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Add a form for submitting the reply -->
                        <form method="post" action="{% url 'reviews:review_reply' type=review_type pk=review.id %}">
                            {% csrf_token %}
                            <label for="reply">Reply:</label>
                            <textarea id="reply" name="reply" rows="4" cols="50"></textarea>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit Reply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<script src="{% static "farmfresh/js/fav_farmer.js" %}"></script>

<script>
    function toggleReplies(reviewId) {
        var replies = document.getElementById('replies' + reviewId);
        if (replies.style.display === 'none') {
            replies.style.display = 'block';
        } else {
            replies.style.display = 'none';
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        const products = document.querySelectorAll('.rate');

        products.forEach(product => {
            const rating = parseFloat(product.getAttribute('data-rating'));
            const stars = getStars(rating);
            const starContainer = product.querySelector('.stars');
            starContainer.innerHTML = stars + " " + rating.toFixed(1) + " out of 5";
        });

        function getStars(rating) {
        const fullStars = Math.floor(rating);
        const halfStar = rating % 1 !== 0;
        const emptyStars = Math.ceil(5 - fullStars - halfStar)
        const stars = [];

        for (let i = 0; i < fullStars; i++) {
            stars.push('<i class="fa-solid fa-star" style="color: #f8d544;"></i>');
        }

        if (halfStar) {
            stars.push('<i class="fa-solid fa-star-half-stroke" style="color: #f8d544;"></i>');
        }

        for (let i = 0; i < emptyStars; i++) {
            stars.push('<i class="fa-regular fa-star" style="color: #f8d544;"></i>');
        }

        return stars.join('');
    }
        
        var userId = document.querySelector(".user-info").getAttribute("data-user-id");
        var favoritesId = "favorites_" + userId;
        var favorites = JSON.parse(localStorage.getItem(favoritesId)) || [];
        document.querySelectorAll(".fav-button").forEach(function (button) {
            var farmerId = button.getAttribute("data-farmer-id");
            var isAuthenticated = button.getAttribute("data-auth");
            var star = button.querySelector(".fa-star");
            var buttonText = button.querySelector(".button-text");

            updateButtonText(button, buttonText, favorites.includes(farmerId));
            
            if (favorites.includes(farmerId)) {
                star.classList.add("fa-solid");
            }
            button.addEventListener("click", function () {
                var idx = favorites.indexOf(farmerId);
                console.log(userId, farmerId);

                if (idx === -1) {
                    favorites.push(farmerId);
                    star.classList.add("fa-solid");
                    
                } else {
                    favorites.splice(idx, 1);
                    star.classList.remove("fa-solid");
                }

                localStorage.setItem(favoritesId, JSON.stringify(favorites));
                updateButtonText(button, buttonText, favorites.includes(farmerId));
                button.blur();
            });
        });

        function updateButtonText(button, buttonTextElement, isFarmerInFavorites) {
            if (isFarmerInFavorites) {
                buttonTextElement.textContent = "Delete farmer from favorite";
                button.querySelector(".fa-star").classList.add("fa-solid");
            } else {
                buttonTextElement.textContent = "Add farmer to favorite";
                button.querySelector(".fa-star").classList.remove("fa-solid");
            }
        }
    });
</script>
{% endblock %}
