{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<style>

    .container {
        margin-bottom: 50px;
    }

.containerProfile {
    margin-top: 10%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom:2%;
    }
.update-profile-btn {
    background-color: #007bff; /* Bootstrap primary button color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Optional: Add some border-radius for rounded corners */
    cursor: pointer;
    margin-bottom: 30px;
}

.update-profile-btn:hover {
    background-color: #0056b3; /* Change color on hover */
}
.container{
    margin-top: -10px;
}
h1 {
    color: #007bff; 
}
</style>

<div class="container containerProfile">
    <h1>Update Profile</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == "farm_nr" %}
        <div id="farm_nr" style="display: none">
            {% bootstrap_field field %}
        </div>
        {% else %}
        {% bootstrap_field field %}
        {% endif %}
        {% endfor %}
        <div><button type="submit" class="update-profile-btn">Update Profile</button></div>
    </form>
</div>

{% endblock %}
