{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<style>
    .container {
        padding: 20px;
    }

    .user-info {
        margin-top: 70px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 5px;
        background-color: #fff;
    }

    .fav-button:hover {
    background-color: #f0bf0d; 
}
       
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="user-info" data-user-id={{ user.pk }}>
                <h1>Details</h1>
                <p>Username: {{ user_detail.username }} 
                    <span class="badge">
                        {% if user_detail.is_farmer %}
                        <i class="fa-solid fa-wheat-awn" style="color: #0a5200;"></i>
                        {% endif %}
                    </span>
                </p>
                {% if user_detail.is_farmer %}
                <p>Rating: {{ user_detail.avg_rating }}</p>
                {% endif %}
                <p>First Name: {{ user_detail.first_name }}</p>
                <p>Last Name: {{ user_detail.last_name }}</p>
                <p>Email: {{ user_detail.email }}</p>
                <p>Address: {{ user_detail.address }}, {{ user_detail.city }}, {{ user_detail.country.name }}</p>
                <p>About me:</p>
                <p>{{ user_detail.bio }}</p>

                {% if user_detail.profile_pic %}
                <img src="{{ user_detail.profile_pic.url }}" class="img-fluid">
                {% endif %}

                {% if request.user == object %}
                <a href="{% url "accounts:update_user" pk=object.pk %}" class="btn btn-primary">
                    Update profile
                </a>
                <a href="{% url "accounts:delete_user" pk=object.pk %}" class="btn btn-danger">
                    Delete profile
                </a>
                {% endif %}

                {% if user_detail.is_farmer %}
                <form method="get" action="{% url "products:farmer_products" pk=user_detail.pk %}">
                    <button type="submit" class="btn btn-success mt-3 mb-3">
                        My products
                    </button>
                </form>
                <button class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">Post a Review</button>
                {% endif %}


                {% if user_detail != user and user.is_authenticated %}
                <button class="btn btn-warning fav-button mt-3 mb-3" data-farmer-id={{ farmer.pk }} data-auth={{ user.is_authenticated }}>
                    <i class="fa-regular fa-star" style="color: #ffd43b;"></i> Add to Favorites
                </button>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% if reviews %}
                <h2 class="mb-4">Reviews</h2>
                <ul class="list-group">
                    {% for review in reviews %}
                        <li class="section-style mb-3">
                            <p><strong>Name:</strong> {{ review.user.username }}</p>
                            <p><strong>Date:</strong> {{ review.date }}</p>
                            <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                            <p><strong>Review:</strong> {{ review.review }}</p>
                            {% if review.replies.exists %}
                            <button type="button" class="btn btn-link" onclick="toggleReplies({{ review.id }})">
                                See Replies
                            </button>
                            {% endif %}
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#replyModal{{ review.id }}">
                                Add Reply
                            </button>

                        </li>
                        <ul id="replies{{ review.id }}" class="list-unstyled" style="display: none;">
                            {% for reply in review.replies.all %}
                            <li>
                                <p><strong>Replied by:</strong> {{ reply.farmer.username }}</p>
                                <p><strong>Date:</strong> {{ reply.date }}</p>
                                <p><strong>Reply:</strong> {{ reply.reply }}</p>
                            </li>
                            {% endfor %}
                            </ul>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="lead mt-3 mb-3">No reviews available yet...</p>
            {% endif %}
        </div>
        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Post a Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Add a form for submitting the review -->
                        <form method="post" action="{% url 'reviews:add_farmer_review' pk=object.pk %}">
                            {% csrf_token %}
                            <label for="rating">Rating:</label>
                            <select id="rating" name="rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <br>
                            <label for="review">Review:</label>
                            <textarea id="review" name="review" rows="4" cols="50"></textarea>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% for review in reviews %}
        <!-- Add a modal for each review -->
        <div class="modal fade" id="replyModal{{ review.id }}" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel{{ review.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel{{ review.id }}">Add Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Add a form for submitting the reply -->
                        <form method="post" action="{% url 'reviews:review_reply' type=review_type pk=review.id %}">
                            {% csrf_token %}
                            <label for="reply">Reply:</label>
                            <textarea id="reply" name="reply" rows="4" cols="50"></textarea>
                            <br>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit Reply</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<script src="{% static "farmfresh/js/fav_farmer.js" %}"></script>

<script>
    function toggleReplies(reviewId) {
        var replies = document.getElementById('replies' + reviewId);
        if (replies.style.display === 'none') {
            replies.style.display = 'block';
        } else {
            replies.style.display = 'none';
        }
    }
    document.addEventListener("DOMContentLoaded", function () {
        var userId = document.querySelector(".user-info").getAttribute("data-user-id");
        var favoritesId = "favorites_" + userId;
        var favorites = JSON.parse(localStorage.getItem(favoritesId)) || [];
        document.querySelectorAll(".fav-button").forEach(function (button) {
            var farmerId = button.getAttribute("data-farmer-id");
            var isAuthenticated = button.getAttribute("data-auth");
            var star = button.querySelector(".fa-star");
            if (favorites.includes(farmerId)) {
                star.classList.add("fa-solid");
            }
            button.addEventListener("click", function () {
                var idx = favorites.indexOf(farmerId);
                console.log(userId, farmerId);

                if (idx === -1) {
                    favorites.push(farmerId);
                    star.classList.add("fa-solid");
                } else {
                    favorites.splice(idx, 1);
                    star.classList.remove("fa-solid");
                }

                localStorage.setItem(favoritesId, JSON.stringify(favorites));
                button.blur();
            });
        });
    });
</script>
{% endblock %}
