{% extends "base.html" %}
{% block content %}
    <div class="main">
  <h1>Fresh products near you</h1>
  <a href="{% url "products:product_list" %}"><button>DISCOVER</button></a>
</div>

<h3 id="slogan">From the farm straight to your plate.</h3>

<div class="shopping">
  <a class="shop-nav" href="{% url "products:product_list" %}">
    <img src="https://images.rtl.fr/~c/770v513/rtl/www/1071023-legumes.jpg" alt="">
    <p>Produced by local farmers</p>
    <p class="shop-now">SHOP NOW</p>
  </a>
  <a class="shop-nav "href="shop.html">
    <img src="https://img.freepik.com/photos-gratuite/legumes-automne-planche-bois-au-milieu_23-2147714800.jpg?w=1380&t=st=1699556004~exp=1699556604~hmac=7d1cdb06373859ab063ff7df8231ce223844bd2ce0b9d5af752185c6b21d04e0" alt="">
    <p>Seasonal boxes</p>
    <p class="shop-now">SHOP NOW</p>
  </a>
  <a class="shop-nav "href="{% url "accounts:user_list" %}">
    <img src="https://african.land/oc-content/plugins/blog/img/blog/740.jpg" alt="">
    <p>Discover your next farmer</p>
    <p class="shop-now">DISCOVER NOW</p>
  </a>
</div>

<div class="work">
    <!-- Brand/logo<img src="https://media.northwesternmutual.com/images/1100x618/1286-healthy-grocery-shopping-on-a-budget-woman-unpacking-groceries-at-home-1218213283.webp" alt=""> -->
    <video width="500" height="300" controls>
      <source src="media/video/WIN_20231017_10_57_16_Pro.mp4" type="video/mp4"> 
    </video>
  <div>
    <h3>How it works?</h3>
    <ol>
      <li>Choose a product</li>
      <li>Add it to your cart</li>
     <li>Pick it up or have it delivered to your door</li>
    </ol>
  </div>
</div>
{% endblock %}