{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}

<style>
    .containerDeleteProduct {
        margin-top: 3%;
        text-align: center;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 4%;
        padding-bottom: 70px;
    }

    h1 {
        color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        margin-top: 10px;
        text-align: left;
        width: fit-content;
    }

    form {
        margin-top: 20px;
        text-align: center;  /* Centering the form content */
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-outline-secondary {
        margin-top: 10px;
        text-align: left;
        width: fit-content;
    }

    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: #ffffff;
    }
</style>

<div class="container containerDeleteProduct">
    <h1>Delete Product</h1>
    <p>Are you sure you want to delete this product {{ object.name }}?</p>
    <form method="post" action="{% url "products:delete_product" pk=object.pk %}">
        {% csrf_token %}
        <div class="text-center"> <!-- Adding text-center class to center the buttons -->
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url "products:product_detail" pk=object.pk %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
