{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<div class="container product-info mt-5">
    <div class="text-right mb-3">
        {% if product.seller == request.user %}
        <a href="{% url "products:update_product" pk=object.pk %}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
        <a href="{% url "products:delete_product" pk=object.pk %}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.name }}">
        </div>
        <div class="col-md-6">
            <h2>{{ object.name }}</h2>
            <p class="card-text">
                {% for category in product.categories.all %}
                <span class="badge badge-pill badge-success">
                    {{ category.name }}
                </span>
                {% endfor %}
            </p>
            <p><strong>Description:</strong> {{ object.description }}</p>
            <p class="rating" data-rating={{ object.avg_rating }}><div class="stars"></div> {{ object.avg_rating }} out of 5</p>
            {% if object.available %}
                <p class="available"><strong>Available:</strong> <i class="fa-solid fa-circle-check"></i></p>
            {% else %}
                <p class="not-available"><strong>Available:</strong> <i class="fa-solid fa-circle-xmark"></i></p>
            {% endif %}
            {% block product_specific %}{% endblock %}
            {% block box_specific %}{% endblock %}
        </div>
    </div>
</div>
{% block product_info %}{% endblock %}
{% endblock %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const products = document.querySelectorAll('.rating');
    console.log(products)

    products.forEach(product => {
        const rating = parseFloat(product.getAttribute('data-rating'));
        const stars = getStars(rating);
        const starContainer = product.querySelector('.stars');
        starContainer.innerHTML = stars + " " + rating.toFixed(1) + " out of 5";
    });
});

function getStars(rating) {
    const fullStars = Math.floor(rating);
    const halfStar = rating % 1 !== 0;
    const emptyStars = Math.ceil(5 - fullStars - halfStar)
    const stars = [];

    for (let i = 0; i < fullStars; i++) {
        stars.push('<i class="fa-solid fa-star" style="color: #f8d544;"></i>');
    }

    if (halfStar) {
        stars.push('<i class="fa-solid fa-star-half-stroke" style="color: #f8d544;"></i>');
    }

    for (let i = 0; i < emptyStars; i++) {
        stars.push('<i class="fa-regular fa-star" style="color: #f8d544;"></i>');
    }

    return stars.join('');
}
</script>