{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
<style>
    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .card-title {
        margin-bottom: 0;
    }

    .seller {
        font-size: 15px;
        color: black;
    }

    .btn-primary,
    .btn-success {
        margin-top: 10px;
    }

    .btn-success:hover {
        background-color: #2e7d32;
        border-color: #2e7d32;
    }

    .card-img-top {
        height: 300px;
        object-fit: cover;
    }

    .text-center {
        padding-bottom: 50px;
    }

    /* CSS FOR THE FILTER */
    .filter-form {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        margin-top: -20px;
    }

    .search-form {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    .form-check {
        margin-right: 20px;
    }

    .form-check label {
        margin-left: 5px;
    }

    .btn-filter {
        background-color: #3498db;
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn-filter:hover {
        background-color: #2980b9;
    }

    .category-checkboxes {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
        /* Adjust the margin as needed */
    }

    .form-check {
        margin-right: 20px;
    }

    .clear-filters {
        margin-top: 0px;
        background-color: #e74c3c;
        color: #fff;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .clear-filters:hover {
        background-color: #c0392b;
    }
</style>

<div class="container">
    <form method="get" class="mb-4 search-form">
        <div class="input-group">
            <input name="q" type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <form method="get" class="mb-4 filter-form" id="filter-form">
        <div class="form-group">
            <label><Strong>Select a category:</Strong></label>
            <div class="category-checkboxes">
                {% for category in categories %}
                <div class="form-check">
                    <input name="category" type="checkbox" class="form-check-input" value="{{ category.name }}">
                    <label class="form-check-label">{{ category.name }}</label>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label>Sort By:</label>
            <select name="sort_by" class="form-control">
                <option value="default">Default</option>
                <option value="best_rated" {% if request.GET.sort_by == 'best_rated' %}selected{% endif %}>Best rated</option>
                <option value="ascending" {% if request.GET.sort_by == 'ascending' %}selected{% endif %}>Price (Low - High)</option>
                <option value="descending" {% if request.GET.sort_by == 'descending' %}selected{% endif %}>Price (High to Low)</option>
            </select>
        </div>

        <button class="btn btn-filter" type="submit">Filter</button>
        <button type="button" class="btn btn-outline-secondary clear-filters">Clear Filters</button>
    </form>
    <div class="row" data-id={{ user.pk }}>
        {% if products.products %}
        {% for product in products.products %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100" data-rating={{ product.avg_rating }}>
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h7 class="card-text seller">
                        by <a class="seller" href="{% url "accounts:user_detail" pk=product.seller.pk %}">{{ product.seller.username }}</a>
                    </h7>
                    <p class="card-text"><div class="stars"></div></p>
                    <p class="card-text">
                        {% for category in product.categories.all %}
                        <span class="badge badge-pill badge-success">
                            {{ category.name }}
                        </span>
                        {% endfor %}
                    </p>
                    <p class="card-text">
                        {% if product.unit == "piece" %}
                            Price: €{{ product.price }}/Piece
                        {% elif product.unit == "kg" %}
                            Price: €{{ product.price }}/Kg
                        {% endif %}
                    </p>
                    <p class="card-text">
                        {% if product.available %}
                            <span class="text-success">Available: <i class="fa-solid fa-circle-check"></i></span>
                        {% else %}
                            <span class="text-danger">Not Available: <i class="fa-solid fa-circle-xmark"></i></span>
                        {% endif %}
                    </p>
                    <a href="{% url "products:product_detail" pk=product.pk %}" class="btn btn-primary">View Details</a>
                        <button class="btn btn-success add_to_cart" data-product-id="{{ product.pk }}" data-add-url="{% url "cart:add_to_cart" pk=product.pk type="product" %}">
                            Add to Cart
                        </button>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
        {% if products.boxes %}
        {% for box in products.boxes %}
        {% if box.status == "approved" %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100" data-rating={{ box.avg_rating }}>
                <img src="{{ box.image.url }}" class="card-img-top" alt="{{ box.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ box.name }}</h5>
                    <p class="card-text"><div class="stars"></div></p>
                    <p class="card-text"><span class="badge badge-pill badge-success">
                            Box
                        </span>
                    </p>
                    <p class="card-text">
                        {% if box.available %}
                        <span class="text-success">Available: <i class="fa-solid fa-circle-check"></i></span>
                        {% else %}
                        <span class="text-danger">Not Available: <i class="fa-solid fa-circle-xmark"></i></span>
                        {% endif %}
                    </p>
                    <a href="{% url "products:box_detail" pk=box.pk %}" class="btn btn-primary">Look inside</a>
                        <button class="btn btn-success add_to_cart" data-product-id="{{ box.pk }}" data-add-url="{% url "cart:add_to_cart" pk=box.pk type="box" %}">
                            Add to Cart
                        </button>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if not products.products and not products.boxes %}
            <div class="col-md-12">
                <p class="lead">No products available...</p>
            </div>
        {% endif %}
    </div>
    {% if user.is_farmer %}
    <div class="text-center mt-4">
        <a href="{% url "products:create_product" %}" class="btn btn-primary btn-lg">Add New Product</a>
        <a href="{% url "products:create_box" %}" class="btn btn-primary btn-lg">Add New Box</a>
    </div>
    {% endif %}
</div>
<script src="{% static "farmfresh/js/cart_update.js" %}"></script>
<script>
    function setFavFarmers(userId){
        //https"://stackoverflow.com/questions/52327176/how-do-i-access-data-from-local-storage-in-django-views
        favId = "favorites_" + userId;
        fav_farmers = localStorage.getItem(favId);
        document.cookie = "fav=" + fav_farmers;
    }
    document.addEventListener('DOMContentLoaded', function () {

        const clearFiltersButton = document.querySelector('.clear-filters');
        if (clearFiltersButton) {
            clearFiltersButton.addEventListener("click", function () {
                // Reset all form elements
                const filterForm = document.getElementById('filter-form');
                if (filterForm) {
                    const checkboxes = filterForm.querySelectorAll('input[type="checkbox"]');
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = false;
                    });

                    const selects = filterForm.querySelectorAll('select');
                    selects.forEach(select => {
                        select.selectedIndex = 0;
                    });

                    // You may need to adjust this line based on your form structure
                    // It clears any additional input fields or custom logic
                    filterForm.reset();
                }
            });
        }

        const products = document.querySelectorAll('.card');
        const userId = document.querySelector(".row").getAttribute("data-id");

        setFavFarmers(userId);

        products.forEach(product => {
            const rating = parseFloat(product.getAttribute('data-rating'));
            const stars = getStars(rating);
            const starContainer = product.querySelector('.stars');
            starContainer.innerHTML = stars + " " + rating.toFixed(1) + " out of 5";
        });
    });

    function getStars(rating) {
        const fullStars = Math.floor(rating);
        const halfStar = rating % 1 !== 0;
        const emptyStars = Math.ceil(5 - fullStars - halfStar)
        const stars = [];

        for (let i = 0; i < fullStars; i++) {
            stars.push('<i class="fa-solid fa-star" style="color: #f8d544;"></i>');
        }

        if (halfStar) {
            stars.push('<i class="fa-solid fa-star-half-stroke" style="color: #f8d544;"></i>');
        }

        for (let i = 0; i < emptyStars; i++) {
            stars.push('<i class="fa-regular fa-star" style="color: #f8d544;"></i>');
        }

        return stars.join('');
    }

</script>

{% endblock %}
